[submodule "requirements/dist"]
	path = requirements/dist
	url = https://github.com/mozilla/moztrap-reqs.git
[submodule "requirements/vendor"]
	path = requirements/vendor
	url = https://github.com/mozilla/moztrap-vendor-lib.git
